@import "../App.css";

/* Style for h1 element */
h1 {
  margin-top: 50px; 
  text-align: center; 
}

/* Style for navigation items in the class page */
.class-page-nav-item {
  color: white; 
  text-decoration: none; 
  padding: 14px 16px;
  margin: 25px; 
}

/* Hover effect for navigation items */
.class-page-nav-item:hover {
  background-color: var(--steel-blue); /* Change background color on hover */
  border-radius: 10px; 
  color: black;
  transition: background-color 0.7s ease; 
  cursor: pointer; 
}

/* Style for the class code element */
.class-code {
  margin-top: 175px; 
  font-size: 12px; 
  font-weight: bold; 
  text-align: center; 
}

/* Keyframes for fade-in animation */
@keyframes fadeInUp {
  from {
    opacity: 0; 
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move element to its final position */
  }
}

/* Animation for new project form using fadeInUp keyframes */
.new-project-form.animate {
  animation: fadeInUp 0.7s ease-in-out; 
}
