/* Container styling for class cards */
.class-card-container {
  margin-top: 200px;         
  display: flex;              
  flex-wrap: wrap;          
  gap: 50px;                 
  justify-content: flex-start; 
  align-items: center;      
  overflow: hidden;           
  margin-left: 300px;        
}

/* Animation for fading in cards from below */
@keyframes fadeInUp {
  from {
      opacity: 0;            
      transform: translateY(20px); 
  }
  to {
      opacity: 1;            
      transform: translateY(0);   
  }
}

/* Styling for individual class cards */
.class-card {
  width: 200px;               
  border: 1px solid var(--dark-gray); 
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  background-color: black;   
  color: white;              
  height: 200px;             
  display: flex;             
  flex-direction: column;    
  justify-content: space-between; 
  align-items: center;     
  text-align: center;        
  padding-top: 20px;         
  border-radius: 10px;       
  overflow: hidden;         
  animation: fadeInUp 0.5s ease-in-out; /* Apply fadeInUp animation */
}

/* Styling for the title-subtitle section of the card */
.title-subtitle {
  border-bottom: 1px solid var(--dark-gray);
  width: 50%;              
}

/* Styling for the subtitle within the card */
.subtitle {
  font-size: 0.92em;         
  margin-bottom: 10px;       
}

/* Styling for the join button within the card */
.join-button {
  width: 100px;               
  height: 30px;              
  border-radius: 10px;       
  border: 1px solid var(--dark-gray);
  background-color: var(--steel-blue); 
  color: white;              
  font-size: 12px;            
  font-weight: bold;         
  margin-bottom: 10px;      
  transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transitions */
}

/* Hover styling for the join button */
.join-button:hover {
  background-color: rgb(243, 237, 237); 
  cursor: pointer;          
  color: black;              
}

/* Styling for error messages */
.error-message {
  color: red;                
  font-size: 1em;             
  text-align: center;        
  position: relative;         
  margin-top: 100px;          
  margin-bottom: -150px;     
  margin-left: 100px;         
}
