/* Styling relating to size for the search icon */
.SearchContainer img {
   min-width: 50px;
   min-height: 20px;
}

/* Styling for left pane navigation */
.LeftPane {
   background-color: var(--dark-gray);
   margin-left: -50px;
   padding: 70px;
   align-self: flex-start;
}

/* Styling for right pane navigation */
.RightPane {
   background-color: var(--dark-gray);
   margin-left: -70px;
   padding: 100px;
   align-self: flex-start;
   width: 100%;
}

/* Styling for h1 heading */
h1 {
   font-size: 24px;
   margin-bottom: 20px;
}

/* Menu item styling */
.MenuItem {
   display: block;
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: none;
   text-align: left;
   cursor: pointer;
}
.MenuItem {
   display: block;
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: none;
   text-align: left;
   cursor: pointer;
   background-color: white; 
   color: black; 
 }

/* Styling for search button image */
.SearchButton img {
   display: block;
   padding: 5px;
   color: #fff;
   border: none;
   cursor: pointer;
   width: 150px;
   height: 150px;
   object-fit: cover;
}

/* Styling for message text */
.MessageText {
   margin-top: 20px;
}

/* Remove default margin for paragraphs */
p {
   margin: 0;
}

/* Styling for the search icon */
.SearchIcon {
   width: 16px;
   height: 16px;
}

/* Styling for message items */
.MessageItem {
   border: 1px solid #ccc;
   padding: 10px;
   margin: 10px 0;
   background-color: #f4f4f4;
}

.MessageItem p {
   margin: 0;
   padding: 0;
}

/* Overriding styles for .MessagesRoot with grid layout */
.MessagesRoot {
   display: grid;
   grid-template-columns: 1fr 5fr;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: var(--dark-gray);
   min-height: 100vh;
   padding: 20px;
}

/* Styling for a new message container */
.NewMessageContainer {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
   margin-left: 30px;
   width: 70%;
}

.NewMessageContainer input[type="text"] {
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   margin-bottom: 10px;
}

.NewMessageContainer textarea {
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   margin-bottom: 10px;
}

.NewMessageContainer button {
   background-color: #007bff;
   color: white;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   margin-bottom: 10px;
   width: 15%;
}

/* Styling for the search container */
.SearchContainer {
   display: flex;
   align-items: center;
   margin: 20px 0;
}

/* Styling for the search icon */
.SearchIcon {
   width: 16px;
   height: 16px;
   margin-right: 10px;
}

/* Styling for message text in the MessagePane */
.MessageText {
   margin-top: 70px;
}

/* Styling for a new message container */
.NewMessageContainer {
   display: flex;
   flex-direction: column;
   background-color: var(--dark-gray);
   color: white;
   padding: 20px;
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   margin-bottom: 10px;
}

.NewMessageContainer button {
   background-color: white; /* Change the background color to white */
    color: black; /* Change the text color to black or any other color that is visible on white */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 15%;
}

/* Styling for h1 in the RightPane */
.RightPane h1 {
   color: white;
   font-size: 24px;
   margin: 0;
   text-align: center;
}

/* Styling for the message pane */
.MsgPane {
   color: var(--steel-blue);
}

/* Styling for the inbox pane table */
.InboxPane table {
   border-collapse: collapse;
   width: 100%;
   table-layout: fixed;
   color: white;
   background-color: black;
}

.InboxPane th, .InboxPane td {
    border: 1px solid;
    padding: 8px; /* Adjust padding as needed */
    text-align: left; /* Adjust text alignment as needed */
}
.InboxPane th:first-child,
.InboxPane td:first-child {
    width: 20%; /* Set the width of the first column to half */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.InboxPane th:not(:first-child),
.InboxPane td:not(:first-child) {
   width: 80%;
}

.InboxPane {
   width: 80%;
}

.InboxPane th {
   text-align: center;
}

/* Styling for the sent pane menu items */
.SentdPane .MenuItem {
   background-color: var(--steel-blue);
   color: white;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
}

/* Styling for the sent pane table */
.SentdPane table {
   border-collapse: collapse;
   width: 100%;
   table-layout: fixed;
   color: white;
   background-color: black;
}

.SentdPane th, .SentdPane td {
    border: 1px solid;
    padding: 8px; /* Adjust padding as needed */
    text-align: left; /* Adjust text alignment as needed */
}
.SentdPane th:first-child,
.SentdPane td:first-child {
    width: 20%; /* Set the width of the first column to half */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Setting the width of the first column in the sent pane */
.SentdPane th:first-child,
.SentdPane td:first-child {
   width: 20%;
}

/* Setting the width of other columns in the sent pane */
.SentdPane th:not(:first-child),
.SentdPane td:not(:first-child) {
   width: 80%;
}

.SentdPane {
   width: 80%;
}

.SentdPane th {
   text-align: center;
}

 