@import "./App.css";

.navigation {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    top: 90px;
    background-color: black;
    border-right: 1px solid var(--dark-gray);
    border-top: 1px solid var(--dark-gray);
    box-shadow: 12px 0px 12px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
  }

  h1 {
    margin-top: 50px;
  }

  .class-page-nav-item {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    margin: 25px;
  }

  .class-page-nav-item:hover {
    background-color: var(--steel-blue);
    border-radius: 10px;
    color: black;
  }
