.profiles-container {
    color: white;
    background-color: --var(dark-gray);
    margin-left: 200px;
    margin-top: 100px;
    width: calc(100% - 200px);
}

.profile-card {
    margin-bottom: 20px;
}

.profile-table {
    width: 90%;
    margin-inline: auto;
    border-spacing: 0px 20px;
}

.profile-row {
    background-color: black;
}

.profile-head {
    width: 40%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.profile-tail {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.profile-name {
    width: 100%;
    font-size: xx-large;
    text-align: center;
}

.profile-email {
    font-size: large;
    text-align: center;
}

.section-title {
    font-size: x-large;
    text-align: center;
}

.section-content {
    margin-left: 10px;
}

.placeholder {
    height: 20px;
}

.heart {
    width: 100%;
    font-size: xx-large;
    text-align: center;
    padding: 0;
    border: none;
    background: none;
}

.group-form-container {
    left: 250px;
    margin-left: 200px;
    margin-top: 100px;
}

.group-form-title {
    margin-left: 10px;
}

.group-form-button {
    margin-left: 10px;
}

.group-form-box {
    width: 250px;
    color: white;
    background-color: black;
    border: 1px solid var(--dark-gray);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}