/* Define global color variables */
:root {
    --dark-gray: #3C3838;
    --steel-blue: #7AC1D1;
    --dark-blue: #1E4862;
}

/* Styling for the main container of the home page */
.HomePageRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-gray); 
    color: var(--steel-blue); 
    height: 120vh; 
}

/* Styling for a container that holds two panes */
.TwoPanes {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%; 
    max-width: 1200px; 
    padding: 20px; 
}

/* Styling for a menu container */
.Menu {
    width: 30%; 
    color: var(--dark-blue); 
    float: left;
}

/* Styling for a container that holds images */
.Images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 100px; 
}

/* Styling for buttons that navigate to different pages */
.toProfilePage,
.toMessagesePage,
.toMyProjects,
.toPreferences,
.toDiscover {
    width: 200px;
    height: 200px; 
    object-fit: cover; /* Maintain aspect ratio while covering the container */
    border-radius: 50%; /* Make the button circular */
    border: none; /* Remove border */
    background-color: transparent; /* Set background color to transparent */
}

/* Styling for images inside the navigation buttons */
.toProfilePage img,
.toMessagesePage img,
.toMyProjects img,
.toPreferences img,
.toDiscover img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

/* Styling for the heading in the main container */
.HomePageRoot h3 {
    text-align: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 3em; /* Set font size to 3em */
    margin-top: 20px; 
}
