.white-text {
    color: white;
  }
  .messages-container {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .MessagesRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-gray);
    height: -60vh;
    padding: 0px;
    padding-top: 0px;
}


.LeftPane {
    background-color: var(--dark-gray);
    padding: 20px;
}




h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "proximanova", sans-sherif;

}


.MenuItem {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    text-align: left;
    cursor: pointer;
}


.SearchButton img {
    display: block;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 150px;
    object-fit: cover;
}


.MessageText {
    margin-top: 20px;
}


p {
    margin: 0;
}
.SearchIcon {
    width: 16px; 
    height: 16px; 
}

.MessageText {
}

.MessageItem {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f4f4f4;
}

.MessageItem p {
    margin: 0;
    padding: 0;
}

.MessagesRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-gray);
    min-height: 100vh;
    padding: 20px;
}


.NewMessageContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.NewMessageContainer input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.NewMessageContainer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}


.SearchContainer {
    display: flex;
    align-items: center;
    margin: 20px 0; 
    padding-top: -500px;

}

.SearchIcon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

h1 {
    font-size: 24px;
    margin: 0; 
    text-align: center;
}


.MessageText {
    margin-top: 70px; 
}


.NewMessageContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: var(--dark-gray); 
    color: white;
    padding: 20px;
}

.NewMessageContainer input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.NewMessageContainer button {
    background-color: black; 
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.LeftPane h1{
    color:var(--steel-blue);
}

.MsgPane {
    color:var(--steel-blue);
}

.InboxPane table , th, td {
    border: 1px solid;
    border-collapse: collapse;

}

