@import "../App.css";

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid var(--dark-gray);
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    position: fixed;
    height: 90px;
    top: 0;
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-left: 8px;
}

.navbar .logo img {
    width: 75px;; 
    height: 75px;
}

.navbar .links {
    display: flex;
    align-items: center;
    margin-right: 16px;
    background-color: none;
}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.close-button {
    color: var(--steel-blue);
    text-decoration: none;
    font-size: 24px;
}

.navbar a:hover,
.close-button:hover {
    background-color: var(--steel-blue);
    border-radius: 10px;
    color: black;
}

.dropdown {
    position: absolute; 
    top: 200px;
    right: 20px;
}
