.projects-container {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

.class-card{
    width: 200px;
    border: 1px solid var(--dark-gray);
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    background-color: black;
    color: white;
}


  .class-card {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    text-decoration: none !important;
  }

  .title-subtitle {
    border-bottom: 1px solid var(--dark-gray);
    width: 100%;
    text-decoration: none !important;
  }

  .title {
    text-decoration: none !important;
    font-size: 36px;
    font-weight: bold;
  }

  .subtitle {
    text-decoration: none !important;
    font-size: 16px;
  }

  .members {
    font-size: 12px;
    font-weight: none;
    margin-bottom: 10px;
  }

  .membersCount {
    color: var(--steel-blue);
  }

  .add-button {
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    padding: 0px 0px;
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    text-decoration: none !important;
}

.add-button:hover{
    cursor: pointer;
    background-color: var(--steel-blue);
    transform: scale(1.1);
    transition: background-color 0.3s ease;
}
